VITE_API_URL=http://127.0.0.1:8000/api
VITE_OAUTH_TOKEN_URL=http://127.0.0.1:8000/o/token/
VITE_OAUTH_CLIENT_ID=5hweOHvJ4K9MNmb4Pfo3DIveXcOck2Ie599idGL5
VITE_OAUTH_CLIENT_SECRET=xZcYHlzPik6Ij2nJlg9wG00GImdB0jOe4wyYRZ6avUAM9bZk3wTeXlLCNRTOZN7t6nwDm3DVEy49ztkDOEI7QywIhdSR2TJJAJ2clt7WMnO21REE8TSluXWXu16CdAol